* {
    box-sizing: border-box;
}
h1 {
    margin: 20px 0px;
}
.wrapper {
    font-family:Arial, Helvetica, sans-serif;
    width: 1920px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
}
.inner__button {
    display: flex;
    flex-direction: column;
}
#wdr-component-player, #wdr-component-enemy {
    min-width: 420px;
    max-width: 560px;
}
.wdr-header {
    background-color: rgb(255, 255, 255) !important;
}
.wdr-cell {
    background-color: rgb(255, 255, 255) !important;
    height: 40px !important;
        padding: 0 !important;
        text-align: center !important;
        vertical-align: middle !important;
}
.cell-water {
    background-color: rgb(190, 239, 255) !important;
}
.cell-ship {
    background-color: #f8a9cf !important;
}
.cell-block {
    background-color: rgb(214, 214, 214) !important;
}
.cell-hit {
    background-color: rgb(255, 149, 149) !important;
}
.cell-miss {
    background-color: rgb(183, 183, 183) !important;
}
.inner__button > button{
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(255, 204, 221);
    border-color: #f8a9cf;
    transition: 0.4s;
}
.inner__button > button.active {
    background-color: #c7ffc9;
    color: black;
    border: 2px solid #93e896;
}